@page "/home/dashboard"
@layout MainLayout
@using Client.Pages.AccountPages
<AuthorizeView>
    <Authorized>
        <h3>HomePage</h3>
    </Authorized>
    <NotAuthorized><NotAuthorizedPage /></NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState).User;
        var d = user.Claims;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (!isUserAuthenticated)
            NavManager.NavigateTo("/identity/account/login");
    }
}