@page "/home/kontakty"
@layout MainLayout
@using Client.Pages.AccountPages
<AuthorizeView>
    <Authorized>
        <h3>Kontakty</h3>
    </Authorized>
    <NotAuthorized><NotAuthorizedPage /></NotAuthorized>
</AuthorizeView>


@code {

}
