@page "/home/Profile"
@layout MainLayout
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@using Client.Pages.AccountPages
<AuthorizeView>
    <Authorized>
        <div class="profile-panel">
            <div class="card">
                <div class="card-header">styl</div>
                <div class="card-body">
                    <div class="profile-item-row">
                        <div class="card-left"></div>
                        <div class="card-right">
                            <button class="theme-toggle" aria-label="Switch to dark theme" @onclick="ThemeChanged">
                                <svg id="theme-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                                    <path class="toggle-sun"
                                          d="M72.02404,73.16898c0,0,71.14832,7.195957,98.42939-4.104232s69.60009-65.495858,69.60009-65.495858s42.31902,54.195669,69.60009,65.495858s98.42939,4.104232,98.42939,4.104232-7.142445,71.14832,4.157744,98.42939s65.442346,69.60009,65.442346,69.60009-54.142157,42.31902-65.442346,69.60009-4.157744,98.42939-4.157744,98.42939-71.14832-6.13964-98.42939,5.160549-69.60009,64.439541-69.60009,64.439541-42.31902-53.139352-69.60009-64.439541-98.42939-5.160549-98.42939-5.160549s6.193152-71.14832-5.107037-98.42939-64.493053-69.60009-64.493053-69.60009s53.192864-42.31902,64.493053-69.60009s5.107037-98.42939,5.107037-98.42939ZM240,378.36112c76.41473,0,138.36112-61.94638,138.36112-138.36112s-61.94638-138.36112-138.36112-138.36112-138.36112,61.94638-138.36112,138.36112s61.94638,138.36112,138.36112,138.36112Z" />
                                    <ellipse class="toggle-circle" rx="106.328741" ry="106.328741" transform="translate(240.05352 240)" stroke-width="0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized><NotAuthorizedPage /></NotAuthorized>
</AuthorizeView>
@code {
    [Parameter] public EventCallback OnThemeChanged { get; set; }
    private async Task ThemeChanged()
    {
        await OnThemeChanged.InvokeAsync();
    }
}