@page "/home/zakazky"
@layout MainLayout
@using Client.Pages.AccountPages
<AuthorizeView>
    <Authorized>
        <div class="cardBox">
            <div class="card jedna">
                <div class="cardHeader">
                    <div class="cardName">21001</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card dva">
                <div class="cardHeader">
                    <div class="cardName">21002</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card tri">
                <div class="cardHeader">
                    <div class="cardName">21003</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card">
                <div class="cardHeader">
                    <div class="cardName">21004</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card">
                <div class="cardHeader">
                    <div class="cardName">21005</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card">
                <div class="cardHeader">
                    <div class="cardName">21006</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card">
                <div class="cardHeader">
                    <div class="cardName">21007</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
            <div class="card">
                <div class="cardHeader">
                    <div class="cardName">21021</div>
                    <a href="#">
                        <span class="icon"><ion-icon class="view" name="eye"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="print" name="print"></ion-icon></span>
                    </a>
                    <a href="#">
                        <span class="icon"><ion-icon class="edit" name="settings"></ion-icon></span>
                    </a>
                </div>
                <div class="cardData">
                    <div class="image">
                        <img src="podklady/15023.Jpg" alt="">
                    </div>
                    <div class="datum">88.88.8888</div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized><NotAuthorizedPage /></NotAuthorized>
</AuthorizeView>